.circle-container {
  position: relative;
  width: 800px;
  height: 800px;
  margin: auto;
  transform: translate(50px, 50px); /* Shift the entire container */
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  background-color: transparent;
  border: 1px dashed #a5a5a5; /* Add dotted border */
}

.center-circle {
  width: 120px; /* Increased size */
  height: 120px; /* Increased size */
}

.inner-circle {
  width: 400px; /* Increased size */
  height: 400px; /* Increased size */
}

.outer-circle {
  width: 800px; /* Increased size */
  height: 800px; /* Increased size */
}

.outermost-circle {
  width: 1100px; /* Increased size */
  height: 1100px; /* Increased size */
}

.circle-item {
  position: absolute;
  width: 160px; /* Increased width */
  text-align: center;
  color: rgb(31, 176, 224);
  top: 50%;
  left: 40%;
  transform-origin: 0 0;
  background-color: #fff; /* Background to hide the dotted line */
  border-radius: 100px; /* Rounded corners */
  z-index: 1; /* Ensure the text is above the dotted lines */
  padding: 20px; /* Increased padding for better readability */
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5); /* Dark circles overlapping values */
}

/* Ensure text remains upright */
.circle-item h3 {
  color: darkblue;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* Ensure the text is upright by counter-rotating the text */
.circle-item p {
  margin: 0;
  padding: 0;
  transform: rotate(0deg); /* Adjust as needed to keep text upright */
}
.draggable {
  cursor: move; /* Change the cursor to a move icon */
}